In [ ]:
"""
sql lesson code
"""

In [ ]:
SELECT -- перечисление полей результирующей таблицы (выбрать)
FROM -- указание источника данных (из)
WHERE -- фильтрация данных
GROUP BY -- группировка данных
HAVING -- фильтрация данных после группировки
ORDER BY -- сортировка результирующей таблицы (отсортировать)
LIMIT -- ограничение количества выводимых записей (указать необходимое число записей)

SELECT column_1, column_2 (выбрать)
FROM table (откуда)
ORDER BY column_1 (отсортировать)       -- сортировка по возрастанию


SELECT column_1, column_2
FROM table
ORDER BY column_1 ASC    -- сортировка по возрастанию


SELECT column_1, column_2
FROM table
ORDER BY column_1 (отсортировать) DESC (вариант сортировки)  -- сортировка по убыванию

----------------------------------------------------------------------------------------

Сортировать результат SQL-запроса можно сразу по нескольким колонкам, 
указывая их после ORDER BY через запятую вместе с направлением сортировки (ASC или DESC):

SELECT column_1, column_2
FROM table
ORDER BY column_1 DESC, column_2    -- сначала сортировка по первой колонке (по убыванию), 
                                    -- затем по второй (по возрастанию)

----------------------------------------------------------------------------------------

При составлении SQL-запросов колонкам в результирующей таблице можно присваивать 
любые другие имена (их ещё называют «алиасами»). Это можно делать с помощью оператора AS:
                    
SELECT name AS new_name
FROM table

или так 

SELECT name new_name
FROM table

----------------------------------------------------------------------------------------

В SQL-запросах к колонкам таблиц можно применять разные функции — так же, как, например, в Excel.
В общем виде синтаксис функций выглядит примерно так:

SELECT function(a, b, c, ...)
FROM table

Вместо function указывается название функции, а в скобках — её аргументы.

----------------------------------------------------------------------------------------

Использование функций в SQL
SELECT function_one(function_two(a, b), c)

В приведённой выше конструкции a, b, c — аргументы функций. При этом одним из аргументов 
функции function_one является результат выполнения функции function_two.

Таким образом, сначала будет выполнена функция function_two, а затем её результат 
будет подан на вход функции function_one в качестве одного из аргументов.

Рассмотрим такой случай на примере функций UPPER и LEFT. Функция UPPER 
приводит поданное ей на вход текстовое значение к верхнему регистру, а функция LEFT — возвращает первые n символов в строке.

Мы можем применить эти функции последовательно, и в результате получим первые шесть символов верхнего регистра:
SELECT UPPER(LEFT('karpov.courses', 6)) AS new_name

Результат:
KARPOV

----------------------------------------------------------------------------------------

Функция SPLIT_PART разбивает поданную ей на вход строку на несколько частей в соответствии 
с указанным разделителем и возвращает одну из частей.

SELECT SPLIT_PART('karpov.courses', '.', 2)

Результат:
courses

В примере выше строка 'karpov.courses' была разбита на две части 
('karpov' и 'courses') по разделителю, выраженному символом «точка». 
Функция вернула 'courses', поскольку третьим аргументом мы указали часть с порядковым номером 2.

In [ ]:
Выведите все записи из таблицы products.
Поля в результирующей таблице: product_id, name, price

№1
SELECT(выбрать) product_id,
       name,
       price
FROM(из)   products

Выведите все записи из таблицы products, отсортировав их по наименованиям товаров 
в алфавитном порядке, т.е. по возрастанию. Для сортировки используйте оператор ORDER BY.
Поля в результирующей таблице: product_id, name, price
(для себя, если нужно отсортировать в алфавитном порядке, то и сортировать нужно по имени)

№1
SELECT *
FROM   products
ORDER BY name asc

Отсортируйте таблицу courier_actions сначала по колонке courier_id по возрастанию id курьера, 
потом по колонке action (снова по возрастанию), а затем по колонке time, 
но уже по убыванию — от самого последнего действия к самому первому. Не забудьте включить в результат колонку order_id.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

Поля в результирующей таблице: courier_id, order_id, action, time

№1
SELECT courier_id, order_id, action, time
FROM courier_actions
ORDER BY courier_id ASC, action ASC, time DESC, order_id
LIMIT 1000

№2
SELECT courier_id,
       order_id,
       action,
       time
FROM   courier_actions
ORDER BY courier_id, action, time desc limit 1000

Отсортировать таблицу products по колонкам name, price и вывести 5 самых
дорогих продуктов.

№1
SELECT name,
       price
FROM   products
ORDER BY price desc limit 5

№2
SELECT name AS product_name, price AS product_price
FROM products
ORDER BY product_price DESC LIMIT 5

Используя операторы SELECT, FROM, ORDER BY и LIMIT, а также функцию LENGTH, 
определите товар с самым длинным названием в таблице products. 
Выведите его наименование, длину наименования в символах, а также цену этого товара. 
Колонку с длиной наименования в символах назовите name_length.

Поля в результирующей таблице: name, name_length, price

№1
SELECT(выбрать колонки, взять из колонок) name, LENGTH (name) AS name_length, price
FROM products (из таблицы с названием)
ORDER BY name_length DESC LIMIT 1 (отсортировать по длинне имени, в порядке убывания и  вывести один результат)

Примените последовательно функции UPPER и SPLIT_PART к колонке name и преобразуйте наименования товаров 
в таблице products так, чтобы от названий осталось только первое слово, записанное в верхнем регистре. 
Колонку с новым названием, состоящим из первого слова, назовите first_word.

В результат включите исходные наименования товаров, новые наименования из первого слова, а также цену товаров. 
Результат отсортируйте по возрастанию исходного наименования товара в колонке name.

Поля в результирующей таблице: name, first_word, price

№1
SELECT name, 
UPPER(SPLIT_PART(name, ' ', 1)) AS first_word, (выбрал колонки, привел к верхнему регистру
                                                затем разделил имена по пробелу, выбрал первую
                                                из двух частей, так же переименовал колонку)
price 
FROM products
ORDER BY name ASC