In [ ]:
"""
sql lesson code
"""

In [ ]:
SELECT -- перечисление полей результирующей таблицы (выбрать)
FROM -- указание источника данных (из)
WHERE -- фильтрация данных
GROUP BY -- группировка данных
HAVING -- фильтрация данных после группировки
ORDER BY -- сортировка результирующей таблицы (отсортировать)
LIMIT -- ограничение количества выводимых записей (указать необходимое число записей)

SELECT column_1, column_2 (выбрать)
FROM table (откуда)
ORDER BY column_1 (отсортировать)       -- сортировка по возрастанию


SELECT column_1, column_2
FROM table
ORDER BY column_1 ASC    -- сортировка по возрастанию


SELECT column_1, column_2
FROM table
ORDER BY column_1 (отсортировать) DESC (вариант сортировки)  -- сортировка по убыванию

Сортировать результат SQL-запроса можно сразу по нескольким колонкам, 
указывая их после ORDER BY через запятую вместе с направлением сортировки (ASC или DESC):

SELECT column_1, column_2
FROM table
ORDER BY column_1 DESC, column_2    -- сначала сортировка по первой колонке (по убыванию), 
                                    -- затем по второй (по возрастанию)

In [ ]:
Выведите все записи из таблицы products.
Поля в результирующей таблице: product_id, name, price

№1
SELECT(выбрать) product_id,
       name,
       price
FROM(из)   products

Выведите все записи из таблицы products, отсортировав их по наименованиям товаров 
в алфавитном порядке, т.е. по возрастанию. Для сортировки используйте оператор ORDER BY.
Поля в результирующей таблице: product_id, name, price
(для себя, если нужно отсортировать в алфавитном порядке, то и сортировать нужно по имени)

№1
SELECT *
FROM   products
ORDER BY name asc

Отсортируйте таблицу courier_actions сначала по колонке courier_id по возрастанию id курьера, 
потом по колонке action (снова по возрастанию), а затем по колонке time, 
но уже по убыванию — от самого последнего действия к самому первому. Не забудьте включить в результат колонку order_id.
Добавьте в запрос оператор LIMIT и выведите только первые 1000 строк результирующей таблицы.

Поля в результирующей таблице: courier_id, order_id, action, time

№1
SELECT courier_id, order_id, action, time
FROM courier_actions
ORDER BY courier_id ASC, action ASC, time DESC, order_id
LIMIT 1000

№2
SELECT courier_id,
       order_id,
       action,
       time
FROM   courier_actions
ORDER BY courier_id, action, time desc limit 1000